<!doctype html>
<!-- 
......................_....._...................._......
......___..__._._..._(_).__|.|_......_____.._.__|.|.__..
...../.__|/._`.|.|.|.|.|/._`.\.\./\././._.\|.'__|.|/./..
.....\__.\.(_|.|.|_|.|.|.(_|.|\.V..V./.(_).|.|..|...<._.
.....|___/\__,.|\__,_|_|\__,_|.\_/\_/.\___/|_|..|_|\_(_)
.............|_|........................................
-->
<head>
    <title>Gifs.Armada - Index of /{{ path }}</title>
    <link rel="stylesheet" href="/style.css"/>
    <script src="/static/mithril.js"></script>
    <script src="/static/zepto.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<header>
    <h1>
        Index of /{{ path }}
        <small>
            {% if len(dirs) %}
            <a href="#dirs">{{ len(dirs) }} folders</a>
            {% end %}

            {% if len(files) %}
            <a href="#files">{{ len(files) }} files</a>
            {% end %}
        </small>
        {% if len(path) %}
        <a style="float: right" href=".."><span class="arrow">⇪</span></a>
        {% end %}
    </h1>
</header>

<div id="popup" style="display: none"></div>
<div id="drag-target" style="display: none">
  <!-- the DragController should change the text here
       based on the type of drag.

       image/*: Upload Image
       text/*: Fetch Linked Image
       -->
  <strong><span>Drop To Perform Action</span></strong>
</div>

<table>
    {% if len(dirs) %}
        <tr class="column-header">
            <th class="thumb">Folders</th>
            {% for c in columns %}
                <th class="{{ c.ident }}">
                    <a title="sort by this column" href="{{ query_string(c) }}">
                        {{ c.friendly }}
                    </a>
                </th>
            {% end %}
        </tr>

        {% for dir in dirs %}
        <tr class="directory" id="dirs">
          <td class="thumb">
            <img class="thumb" src="{{ dir.thumb_url }}" alt="folder"/>
          </td>
          <td class="name">
            <a href="{{ dir.url }}">
                {{ dir.basename }}
            </a>
          </td>
          <td class="">{{ dir.last_modified }}</td>
          <td>{{ dir.size }}</td>
          <td></td>
        </tr>
        {% end %}
    {% end %}

    {% if len(files) %}
        <tr class="column-header" id="files">
            <th class="thumb">Files</th>
            {% for c in columns %}
            <th class="{{ c.ident }}">
                <a title="sort by this column" href="{{ query_string(c) }}">
                    {{ c.friendly }}
                </a>
            </th>
            {% end %}
        </tr>

        {% for f in files %}
        <tr class="file">
            <td class="thumb">
                <a href="{{ f.file_url }}">
                    <img class="thumb" src="{{ f.thumb_url }}" />
                </a>
            </td>
            <td class="name">
                <a href="{{ f.file_url }}">
                    {{ f.basename }}
                </a>
            </td>
            <td class="date">{{ f.last_modified }}</td>
            <td class="size">{{ f.size }}</td>
            <td class="hits">{{ f.meta.hits }}</td>
            <!--<td>{{ f.meta.rating }}-->
                <!--<small>(rated {{ f.meta.rating_hits }} times)</small></td>-->
        </tr>
        {% end %}
    {% end %}
</table>


</body>
