/**
 * lovely scss
 */

html {
  font-family: sans-serif;
}

.info span {
  display: block;
}

.message .data {
  white-space: pre;
}

.data {
  /* syntax highlighting */
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }
}
